@font-face{
    font-family:'game';
    src:url('KH-Dot-Kodenmachou-16.ttf') format('truetype');
}

html{
    background-color: white;
}

#Title{
    font-family:'game';
    color: black;
    text-align: center;
    font-size: 110px;
    margin-top: 200px;
}

div{
    text-align: center;
}

#STARTbutton{
    font-family:'game';
    opacity: 0;
    width: 200px;
    height: 100px;
    font-size: 50px;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    border: none;
    transition: opacity 1s ease-in-out;
    position: absolute;
    visibility: hidden;
}

#HoverArea{
    background-color: black;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    margin-top: 230px;
}

#gameCanvas{
    position: absolute;
}

.player {
    width: 40px;
    height: 40px;
    background-color: blue;
    position: absolute;
    bottom: 90px;
    left: 120px;
}

.goal {
    width: 40px;
    height: 40px;
    background-color: yellow;
    position: absolute;
    bottom: 90px;
    left: 1500px;
}
