@font-face{
    font-family:'game';
    src:url('KH-Dot-Kodenmachou-16.ttf') format('truetype');
}

#button1,#button2,#button3,#button4,#button5,
#button6,#button7,#button8,#button9,#button10{
    font-family:'game';
    opacity: 0;
    border-radius: 50%;
    border: none;
    width: 230px;
    height: 220px;
    margin-right: 30px;
    font-size: 100px;
    background: -webkit-linear-gradient(right, yellow, green);
    background: linear-gradient(to left, yellow, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 1s ease-in-out;
    position: absolute;
    visibility: hidden;
}